<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.ifm.ecusis" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ECUSIS</name>
    <description>
        ECUSIS Map Mobile app
    </description>
    <author email="support@integratedfm.com.au" href="http://integratedfm.com.au">
        IntegratedFM (IFM) Team
    </author>
    <icon src="icon.png" />
    <splash src="icon.png" />
    <preference name="SplashScreenDelay" value="1"/>
    <preference name="AutoHideSplashScreen" value="true" /> 
    
    
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
</widget>
